/***********************************************************/
body {
    
    background-color: yellow;

    
}
/************************************************************/
#wrapper {
    margin: 0;
    padding: 0 100px;
}
header figure img
{
    height: 500px;
    width: 100%;
    margin-bottom: 0;
    
}

main{
    display: flex;
    background: #fff;
}

nav
{
    display: inline-block;
    width: 450px;
    background-color: blue;
    height: 140px;
    margin:15px ;
    margin-top: 25px;
}
nav ul li
{
    text-align: center;
    list-style: none;
   
}

nav ul li a {
    color: #fff;
}
article h1
{
    color: yellow;
}
header p
{
    background-color: rgb(6, 6, 82);
    color:white ;
    text-align: center;
    margin: 0;
    padding: 10px;
    

}



header figure
{
    margin: 0;
}




aside
{
    background-color: blue;
    height: 450px;
    margin-top: 25px;
    margin-right: 15px;
}
aside figcaption p
{
    text-align: center;
    padding: 15px; 
}

aside figcaption
{
    text-align: center;
}
/********************************************************************************/
footer 
{
    width: auto;
    padding: 10px;
    text-align: center;
    background: blue;
}

footer small 
{
    color: #fff;

}


/***************************************************************/ 